{% extends 'base1.html.twig' %}



 {% block body %}
     <!--? Hero Start -->
     <div class="slider-area2">
         <div class="slider-height2 d-flex align-items-center">
             <div class="container">
                 <div class="row">
                     <div class="col-xl-12">
                         <div class="hero-cap hero-cap2 text-center pt-70">
                             <h2>S'authentifier</h2>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <!-- Hero End -->
     <!--? Contact form Start -->
     <div class="contact-form-main mt-100 mb-100">
         <div class="container">
             <div class="row justify-content-end">
                 <div class="col-xl-7 col-lg-7">
                     <div class="form-wrapper">
                         <!--Section Tittle  -->
                         <div class="form-tittle">
                             <div class="row ">
                                 <div class="col-lg-11 col-md-10 col-sm-10">
                                     <div class="section-tittle">
                                         <span>Authentication Code google:</span>

                                     </div>
                                 </div>
                             </div>
                         </div>
                         <!--End Section Tittle  -->




                         <form method="post" id="contact-form" action="/PI_dev/public/index.php/2fa_check" method="post">
                             <img id="imageQRcode" src="{{ qrCode }}"  alt="QR Code" name="imageQRcode" />


                             <p class="widget">
                                 <input
                                         id="_auth_code"
                                         type="text"
                                         name="_auth_code"
                                         autocomplete="one-time-code"
                                         autofocus
                                 />
                             </p>


                             <button class="btn btn-lg btn-primary" type="submit">
                                 Login
                             </button>



                         </form>
                         <p class="cancel"><a href="/PI_dev/public/index.php/logout">Cancel</a></p>









                     </div>
                 </div>
             </div>
         </div>
         <!-- contact left Img-->
         <div class="from-left d-none d-lg-block">
             <img src="{{ asset("assets_front_office/img/gallery/contact_form.png") }}" alt="">
         </div>
     </div>
 {% endblock %}
