<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Confirmation de votre adresse e-mail</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            margin: 0;
            padding: 20px;
        }
        h1 {
            color: #007bff;
        }
        p {
            line-height: 1.6;
            margin-bottom: 15px;
        }
        a {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <h1>Salut ! Veuillez confirmer votre adresse e-mail !</h1>

    <p>
        Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant : <br><br>
        <a href="{{ signedUrl|raw }}" style="text-decoration: none; color: #fff;">Confirmer mon e-mail</a>.
        Ce lien expirera dans 1 heure..
    </p>

    <p>
        Merci beaucoup !
    </p>
</body>
</html>
