{% extends 'base.html.twig' %}

{% block title %}Edit Traitementmedicale{% endblock %}

{% block body %}
    <h1>Edit Traitementmedicale</h1>

    {{ include('traitementmedicale/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_traitementmedicale_index') }}">back to list</a>

    {{ include('traitementmedicale/_delete_form.html.twig') }}
{% endblock %}
