{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary" style="background-color: #1cc88a; color: #fff; border-color: #1cc88a;">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
