{% extends 'baseback.html.twig' %}

{% block body %}
	<h1>
		Formulaire d'Ajout d'un Category
	</h1>

	{{ include('category/_form.html.twig') }}


	<a href="{{ path('app_categoryback_index') }}" class="btn btn-primary">back to list</a>
{% endblock %}
