{% extends 'prod.html.twig' %}

{% block title %}New Produit{% endblock %}
{% block banner_image %}
    {{ asset('img/1.jpeg') }}
{% endblock %}
{% block product_heading %}
    <h1 class="display-3 text-white mb-4 animated slideInDown">Culture</h1>
{% endblock %}
{% block body %}
	

	{{ include('culture/_form.html.twig') }}

{% endblock %}
