{% extends 'baseback.html.twig' %}
{% block body %}
	<h1>Create new Culture</h1>

	{{ include('culture/_form.html.twig') }}

	<a href="{{ path('app_cultureback_index') }}" class="btn btn-primary">Back to list</a>
{% endblock %}
