<form method="post" action="{{ path('app_annoncerecrutement_delete', {'idrecurt': annoncerecrutement.idrecurt}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ annoncerecrutement.idrecurt) }}">
    
    <button type="submit" class="btn btn-danger rounded-pill py-2 px-4">
      <i class="fas fa-trash"></i>
    </button>
</form>

