

{% block title %}New Annoncerecrutement{% endblock %}

{% block body %}
    <h1>Create new Annoncerecrutement</h1>

    {{ include('annoncerecrutement/_form.html.twig') }}

    <a href="{{ path('app_annoncerecrutement_index') }}">back to list</a>
{% endblock %}
