{% extends 'clientfront.html.twig' %}

{% block title %}Edit Marche
{% endblock %}

{% block body %}
	<h1>Edit Marche</h1>

	{{ include('client/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_client_index') }}" class="btn btn-secondary">Retourner au list</a>

	{{ include('client/_delete_form.html.twig') }}
{% endblock %}
