{% extends 'baseback.html.twig' %}

{% block title %}Edit Marche
{% endblock %}

{% block body %}
	<h1>Edit Marche</h1>

	{{ include('client/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_clientback_index') }}" class="btn btn-secondary">retourner au  list</a>

	{{ include('client/_delete_form.html.twig') }}
{% endblock %}
