{% extends 'prod.html.twig' %}

{# {% block title %}Marche
{% endblock %} #}
{% block dark_mode_toggle %}
	<button id="darkModeToggle" onclick="toggleDarkMode()">Toggle Dark Mode</button>
{% endblock %}
{% block banner_image %}
	{{ asset('img/market.jpg') }}
{% endblock %}

{% block product_heading %}
    <h1 class="display-3 text-white mb-4 animated slideInDown">Marche</h1>
{% endblock %}
{% block body %}

	{{ include('client/_form.html.twig') }}

{% endblock %}
