{% extends 'culturefront.html.twig' %}

{% block title %}Nouveau Marche
{% endblock %}

{% block body %}
	<h1>Ajouter Nouveau Marche</h1>

	{{ include('client/_form.html.twig') }}

	<a href="{{ path('app_client_index') }}" class="btn btn-secondary">Retourner au list</a>
{% endblock %}
