{% extends 'baseback.html.twig' %}

{% block title %}Nouveau Marche
{% endblock %}

{% block body %}
	<h1>Create new Marche</h1>

	{{ include('client/_form.html.twig') }}

	<a href="{{ path('app_clientback_index') }}" class="btn btn-secondary">Retourner au list</a>
{% endblock %}
