{# BACKnego/stats.html.twig #}
{% extends 'baseback.html.twig' %}

{% block body %}

<h1>Statistiques des Négociations</h1>

    <canvas id="myPieChart" width="400" height="200"></canvas>

    <script src="{{ asset('js/Chart.min.js') }}"></script>
    <script src="{{ asset('js/demo/chart-pie-demo.js') }}"></script>

    <script>
    var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['État 0', 'État 1'],
            datasets: [{
                data: [{{ etat0Count }}, {{ etat1Count }}],
                backgroundColor: ['#007bff', '#28a745'],
            }],
        },
    });
</script>
{% endblock %}