{% extends 'base.html.twig' %}

{% block title %}New Bilanresultat{% endblock %}

{% block body %}
    <h1>Create new Bilanresultat</h1>

    {{ include('bilanresultat/_form.html.twig') }}

    <a href="{{ path('app_bilanresultat_index') }}">back to list</a>
{% endblock %}
