{% extends 'base.html.twig' %}

{% block title %}Edit Candidature{% endblock %}

{% block body %}
    <h1>Edit Candidature</h1>

    {{ include('candidature/_form.html.twig', {'button_label': 'Update'}) }}

 <a href="{{ path('app_annoncerecrutement_index') }}" class="btn btn-light btn-icon-split btn-lg">
        <span class="icon text-gray-600">
            <i class="fas fa-arrow-left"></i>
        </span>
        <span class="text">Retour aux annonces </span>
    </a>
    {{ include('candidature/_delete_form.html.twig') }}
{% endblock %}

