{# templates/candidature/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des candidatures{% endblock %}

{% block body %}
    <h1>Liste des candidatures</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idcandidature</th>
                <th>Message motivation</th>
                <th>Statuscandidature</th>
                <th>Datecandidature</th>
                <!-- Ajoutez d'autres colonnes au besoin -->
            </tr>
        </thead>
        <tbody>
            {% for candidature in candidatures %}
                <tr>
                    <td>{{ candidature.idcandidature }}</td>
                    <td>{{ candidature.messagemotivation }}</td>
                    <td>{{ candidature.statuscandidature }}</td>
                    <td>{{ candidature.datecandidature ? candidature.datecandidature|date('Y-m-d') : '' }}</td>
                    <!-- Ajoutez d'autres colonnes au besoin -->
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {# Ajoutez des liens ou d'autres éléments selon vos besoins #}

{% endblock %}
