{% extends 'condi.html.twig' %}

{% block body %}
    <div class="container mt-5">

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_row(form.vars.form.messagemotivation, {'attr': {'class': 'form-control', 'placeholder': 'Message Motivation'}}) }}
{{ form_row(form.vars.form.datecandidature, {'attr': {'class': 'form-control', 'placeholder': 'Date Candidature'}}) }}
<button type="submit" class="btn btn-primary">Create</button>
{{ form_end(form) }}

{% endblock %}

